absl-py==2.1.0
aext_assistant
aext_assistant_server
aext_core
aext_core_server
aext_shared
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair
annotated-types==0.6.0
anyio
appdirs==1.4.4
appnope
appscript
archspec
argon2-cffi
arrow
astroid
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bayesian-optimization==1.5.0
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
branca==0.7.2
Brotli
cachetools
catboost==1.2.5
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
dacite==1.8.1
dask
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
featuretools==1.31.0
filelock
flake8
Flask
flatbuffers==24.3.25
folium==0.17.0
fonttools==4.25.0
fqdn
frozenlist
fsspec
future
gast==0.6.0
gensim
gitdb
GitPython
gmpy2
google-pasta==0.2.0
graphviz==0.20.3
greenlet
grpcio==1.65.4
gunicorn==23.0.0
h11
h5py==3.11.0
holidays==0.52
holoviews
htmlmin
httpcore
httpx
hvplot
hyperlink
idna
imagecodecs
ImageHash==4.3.1
imageio
imagesize
imbalanced-learn
importlib-metadata
importlib_resources==6.4.0
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration==20.11.0
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaggle==1.6.17
keras==3.5.0
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
lightgbm==4.4.0
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
ml-dtypes==0.4.0
more-itertools
mpmath
msgpack
multidict
multimethod==1.11.2
multipledispatch
munkres==1.1.4
mypy
mypy-extensions
namex==0.0.8
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
opencv-python==4.10.0.84
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.12.1
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pexpect
phik==0.12.4
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
prometheus-client
prompt-toolkit
Protego
protobuf==3.20.3
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic==2.7.0
pydantic_core==2.18.1
pydeck
PyDispatcher==2.0.5
pydocstyle
pydotplus==2.0.2
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
pywavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
service-identity
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomlkit
toolz
tornado
tqdm==4.66.4
traitlets
truststore
Twisted
typeguard==4.2.1
typing_extensions==4.11.0
tzdata
tzlocal
uc-micro-py
ujson
Unidecode
uri-template==1.3.0
urllib3
validators
visions==0.7.6
w3lib
watchdog
wcwidth
webcolors==1.13
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
woodwork==0.31.0
wordcloud==1.9.3
wrapt
wurlitzer
xarray
xgboost==2.1.0
xlwings
xyzservices
y-py
yapf
yarl
ydata-profiling==4.7.0
ypy-websocket
zict
zipp
zope.interface
zstandard
